{% load static %}
<div class="wrapper_management">
    <div class="row g-0 m-0">
        <div class="rounded" id="btnMenuAdmin" data-bs-toggle="collapse" data-bs-target="#menuAdmin">
            <img src="{% static '/images/menu.svg' %}" alt="" width="40">
        </div>
        <div class="col-3 sidebar animate__animated animate__fadeInLeft management_body1 p-0 collapse" id="menuAdmin">
            <button type="button" id="closeBtnMenu" class="close" data-dismiss="modal" aria-label="Close">
                <span class="text-light" aria-hidden="true">&times;</span>
            </button>
            <ul class="list-group text-light table-group pt-5">
                <a class="mt-4" href="/adm">
                    <li class="list-group-item">
                        <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0 11.1111H8.88889V0H0V11.1111ZM0 20H8.88889V13.3333H0V20ZM11.1111 20H20V8.88889H11.1111V20ZM11.1111 0V6.66667H20V0H11.1111Z"
                                fill="white" />
                        </svg>
                        <span class="table_item_text ml-4">Dashboard</span>
                    </li>
                </a>
                <a href="/adm/product">
                    <li class="list-group-item">
                        <svg width="18" height="16" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path fill="#ffffff"
                                    d="M16 4l-8.060-4-7.94 4v1h1v11h2v-9h10v9h2v-11h1v-1zM4 6v-1h2v1h-2zM7 6v-1h2v1h-2zM10 6v-1h2v1h-2z">
                                </path>
                                <path fill="#ffffff" d="M6 9h-1v-1h-1v3h3v-3h-1v1z"></path>
                                <path fill="#ffffff" d="M6 13h-1v-1h-1v3h3v-3h-1v1z"></path>
                                <path fill="#ffffff" d="M10 13h-1v-1h-1v3h3v-3h-1v1z"></path>
                            </g>
                        </svg>
                        <span class="table_item_text ml-4">Product</span>
                    </li>
                </a>
                <a href="/adm/customers">
                    <li class="list-group-item">
                        <svg width="18" height="16" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M17.0945 11.4128C18.589 12.5753 19.6363 14.1503 19.6363 16.2503V20.0002H23.9999V16.2503C23.9999 13.5253 20.1054 11.9128 17.0945 11.4128Z"
                                fill="white" />
                            <path
                                d="M8.72741 9.99987C11.1374 9.99987 13.091 7.76132 13.091 4.99993C13.091 2.23855 11.1374 0 8.72741 0C6.31744 0 4.36377 2.23855 4.36377 4.99993C4.36377 7.76132 6.31744 9.99987 8.72741 9.99987Z"
                                fill="white" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15.2727 9.99987C17.6836 9.99987 19.6363 7.7624 19.6363 4.99993C19.6363 2.23747 17.6836 0 15.2727 0C14.76 0 14.28 0.124998 13.8218 0.299996C14.7272 1.58748 15.2727 3.22496 15.2727 4.99993C15.2727 6.77491 14.7272 8.41239 13.8218 9.69987C14.28 9.87487 14.76 9.99987 15.2727 9.99987Z"
                                fill="white" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8.72727 11.2498C5.81455 11.2498 0 12.9247 0 16.2497V19.9996H17.4545V16.2497C17.4545 12.9247 11.64 11.2498 8.72727 11.2498Z"
                                fill="white" />
                        </svg>
                        <span class="table_item_text ml-4">Customers</span>
                    </li>
                </a>
                <a href="/adm/orders">
                    <li class="list-group-item">
                        <svg width="18" height="18" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M23.4 9.28571V3.71429C23.4 1.67143 22.23 0 20.8 0H5.2C3.77 0 2.6 1.67143 2.6 3.71429V9.28571C1.17 9.28571 0 10.9571 0 13V22.2857H1.729L2.6 26H3.9L4.771 22.2857H21.242L22.1 26H23.4L24.271 22.2857H26V13C26 10.9571 24.83 9.28571 23.4 9.28571ZM11.7 9.28571H5.2V3.71429H11.7V9.28571ZM20.8 9.28571H14.3V3.71429H20.8V9.28571Z"
                                fill="white" />
                        </svg>
                        <span class="table_item_text ml-4">Orders</span>
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item">
                        <svg width="20" height="14" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.6 5.71429H0V8.57143H15.6V5.71429ZM15.6 0H0V2.85714H15.6V0ZM20.8 11.4286V5.71429H18.2V11.4286H13V14.2857H18.2V20H20.8V14.2857H26V11.4286H20.8ZM0 14.2857H10.4V11.4286H0V14.2857Z"
                                fill="white" />
                        </svg>
                        <span class="table_item_text ml-4">Inventory</span>
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item">
                        <svg width="20" height="20" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_246_286)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M21.6666 3.25H4.33329C3.14163 3.25 2.16663 4.225 2.16663 5.41667V20.5833C2.16663 21.775 3.14163 22.75 4.33329 22.75H21.6666C22.8583 22.75 23.8333 21.775 23.8333 20.5833V5.41667C23.8333 4.225 22.8583 3.25 21.6666 3.25ZM10.8333 18.4167H5.41663V16.25H10.8333V18.4167ZM10.8333 14.0833H5.41663V11.9167H10.8333V14.0833ZM10.8333 9.75H5.41663V7.58333H10.8333V9.75ZM16.055 16.25L13 13.1733L14.5275 11.6458L16.055 13.1842L19.4891 9.75L21.0275 11.2883L16.055 16.25Z"
                                    fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip0_246_286">
                                    <rect width="26" height="26" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span class="table_item_text ml-4">Sales</span>
                    </li>
                </a>
                <a href="/logout">
                    <li class="list-group-item">
                        <svg width="22" height="22" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_239_373)">
                                <path
                                    d="M19.8334 8.16667L18.1884 9.81167L21.1984 12.8333H9.33337V15.1667H21.1984L18.1884 18.1767L19.8334 19.8333L25.6667 14L19.8334 8.16667ZM4.66671 5.83333H14V3.5H4.66671C3.38337 3.5 2.33337 4.55 2.33337 5.83333V22.1667C2.33337 23.45 3.38337 24.5 4.66671 24.5H14V22.1667H4.66671V5.83333Z"
                                    fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip0_239_373">
                                    <rect width="28" height="28" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>

                        <span class="table_item_text ml-4">Sign out</span>
                    </li>
                </a>
            </ul>
        </div>
        <div class="col management_body2 p-0" id="content">
        </div>
    </div>
</div>