<footer class="footer">
    <div class="row">
        <div class="footerElement col-lg-3 col-sm-6 col-md-6 mt-md-0">
            <div class="footerLogo">
                <h4 class="footerLogo_logoText">T E K Y</h4>
                <h5 class="footerLogo_subLogoText">The scent lab</h5>
            </div>
            <div class="contact">
                <div class="address">340 Cộng Hòa, TP. HCM</div>
                <div class="numberPhone">+91 1234567890</div>
                <div class="gmail">teky@gmail.com</div>
            </div>
        </div>
        <div class="footerElement col-lg-3 col-sm-6 col-12 mt-5 mt-md-0">
            <ul>
                <li>About us</li>
                <li>Contact</li>
                <li>Term&Conditions</li>
            </ul>
        </div>
        <div class="footerElement col-lg-3 col-sm-6 col-md-6 mt-5 mt-md-0">
            <ul>
                <li>
                    <span class="fa fa-facebook"></span>Facebook
                </li>
                <li>
                    <span class="fa fa-twitter"></span>Twitter
                </li>
                <li>
                    <span class="fa fa-instagram"></span>Instagram
                </li>
            </ul>
        </div>
        <div class="footerElement col-lg-3 col-sm-6 col-md-6 mt-5 mt-md-0">
            <div class="d-block">
                <div class="footerInputLabel">Subscribe to our newsletter</div>
                <div class="inputEmail d-inline-flex mt-5">
                    <input class="footerInput" type="text" name="" id="" placeholder="Email Address">
                    <div class="btnInputEmail">OK</div>
                </div>
            </div>
        </div>
    </div>
</footer>
