{% extends 'layout/main.html' %}
{% block header %}
<header>
    <div class="navigation animate__animated animate__fadeInDown" id="navigation">
        <nav class="navbar row d-flex p-0">
            <a class="banner col-lg-5 col-md-3 d-md-flex d-none text-decoration-none" href="/">
                <div class="logo ml-lg-5">
                    <div class="contentLogo">
                        <span class="logoText">N O T E</span><br>
                        <span class="logoText subLogoText">The scent lab</span>
                    </div>
                </div>
            </a>
            <div class="col-lg-7 col-md-9 d-md-flex d-none justify-content-end">
                <ul class="nav text-light d-flex backgroundColorToggle">
                    <li class="nav-item">
                        <a class="nav-link" href="/product">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Workshops</a>
                    </li>
                    <li class="nav-item" id="wrapDropdownBooking">
                        <div class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                            aria-expanded="false">Gifts
                        </div>
                        <ul class="dropdown-menu fs-4 pt-3 pb-4" id="dropdownBooking" aria-labelledby="dropdownBooking">
                            <li class="mt-1"><a class="dropdown-item" href="/booking">Rooms & Suites</a></li>
                            <li class="mt-1"><a class="dropdown-item" href="/history">History</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact-us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-0" href="#">
                            <!-- <div class="dropdown user_dropdown">
                                <span class="signIn signed-in">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                        class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    </svg>
                                </span>
                                <div class="dropdown-content">
                                    <ul class=" p-0">
                                        <li>
                                            <a href="/user">{{user.name}}</a>
                                        </li>
                                        <li><a href="/admin">Management</a></li>
                                        <hr>
                                        <li>
                                            <a href="/user/logout" class="btnSignOut" id="signOut">
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-box-arrow-right"
                                                        viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                                        <path fill-rule="evenodd"
                                                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                                    </svg>
                                                </span>
                                                &nbsp; Sign out
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                        </a>
                        <a class="nav-link" href="/user/sign-in"><span class="signIn">Sign in</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="navigation animate__animated animate__fadeInLeft" id="subNavigation">
        <nav class="navbar btn-navigation-sidebar navbar-toggler" id="btn-navigation-sidebar">
            <span class="navbar-toggler-icon fs-1"></span>
        </nav>
    </div>
</header>
{% endblock header %}

