{% extends 'partials/header.html' %}
{% load static %}
{% block content %}
<div class="container cart">
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <h2 class="sub-title mb-5">YOUR CART</h2>
                <table class="table table-borderless">
                    <thead class="thead">
                        <tr>
                            <th scope="col" class="tab-checkout">PRODUCT</th>
                            <th scope="col">QUANTITY</th>
                            <th scope="col">UNIT PRICE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><img src="{% static product.image_url|add:'.jpg' %}"
                                    class="d-block pre-image">
                            </th>
                            <td>
                                <div class="wrap_basic_filter4">
                                    <div class="basic_filter_item basic_filter4 mr-5">
                                        <span class="text-dark" data-bs-container="body" data-bs-toggle="popover"
                                            data-bs-placement="bottom" data-bs-content="Bottom popover">
                                            <input id="showQuantity" name="quantity" value="1" size="3" oninput="updateQuantify('up', 1)"></input>
                                        </span>

                                    </div>
                                    <div class="controller_person">
                                        <div class="arrow-up"></div>
                                        <div class="">
                                            <span class="text-dark">Adjust</span>
                                            <div class="btn btn-success" id="" onclick="updateQuantify('down', 1)">-</div>
                                            <input class="controller_person_input" type="text" name=""
                                                id="quantifyQuantity" value="1" size="3" readonly>
                                            <div class="btn btn-success" id="" onclick="updateQuantify('up', 1)">+</div>
                                        </div>
                                        <div class="btn btn-danger w-100 mt-3 text-center" id="close_controller_person">
                                            Close</div>
                                    </div>
                                </div>
                            </td>
                            <td>135.000 VNĐ</td>
                        </tr>

                        <tr>
                            <td colspan="2">SUBTOTAL</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right mt-5 ">
                    <a class="btnProceed btn" href="/product/{{product.slug}}/check-out">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}