{% extends 'partials/header.html' %}
{% load static %}
{% block content %}
<div class="wrapper_checkout">
  <div class="container-fluid">
    <div class="row ">
      <p class="title">Checkout</p>
      <div class="col-lg-6 mb-5">
        <p class="sub-title">BILLING & SHIPPING</p>
        <form action="add/check-out" method="POST">
        <div class="row">
          <div class="col-lg-6">
            <label for="firstName" class="checkout">FIRST NAME:</label>
            <input type="text" class="form-control" name="firstName" id="firstName" value="{{user.firstname}}">
          </div>

          <div class="col-lg-6">
            <label for="lastName" class="checkout">LAST NAME:</label>
            <input type="text" class="form-control" name="lastName" id="lastName" value="{{user.lastname}}">
          </div>
        </div>

        <label for="location" class="checkout">PROVINCE/CITY:</label>
        <input type="text" class="form-control" name="city_address" id="city_address" value="{{user.city_address}}">

        <label for="district" class="checkout">DISTRICT:</label>
        <input class="form-control" name="district_address" id="district_address" cols="50" rows="3" value="{{user.district_address}}"></input>

        <label for="address" class="checkout">STREET ADDRESS:</label>
        <input type="text" class="form-control" name="street_address" id="street_address" value="{{user.street_address}}">

        <label for="phone" class="checkout">PHONE:</label>
        <input type="text" class="form-control" name="phone" id="phone" value="{{user.phone}}">

        <label for="email" class="checkout">EMAIL:</label>
        <input type="email" class="form-control" name="email" id="email" value="{{user.email}}">
      </div>

      <div class="col-lg-6 mt-md-5 mt-lg-0">
        <p class="sub-title mb-5">YOUR ORDER</p>
        <table class="table table-borderless">
          <thead class="thead">
            <tr>
              <th scope="col" class="tab-checkout">PRODUCT</th>
              <th scope="col">QUANTITY</th>
              <th scope="col">UNIT PRICE</th>
            </tr>
          </thead>
          <tbody>
            {% for cart in cart_items %}
            <tr>
              <th scope="row"><img src="{% static cart.product.image_url|add:'.jpg' %}" class="d-block pre-image"></th>
              <td>{{cart.quantity}}</td>
              <td>{{cart.product.price}}</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="2">SUBTOTAL</td>
              <td>{{total_price}}</td>
            </tr>
          </tbody>
        </table>
        <div class="text-right mt-5 ">
          <a class="btnProceed btn" href="/product/{{product.slug}}/check-out">PROCEED TO CHECKOUT</a>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}