{% load static %}        
        <div class="col col-md-4 wrapper_content_booking1">
            <div class="subFilter">
                <div class="subFilter-item subFilter-item1">
                    <label for="barPrice" class="form-label">Price:</label>
                    <input type="range" onchange="priceBarSetting()" class="form-range" id="barPrice"
                        value="{{maxPrice}}" min="0" max="{{maxPrice}}">
                    <div class="d-flex justify-content-between mt-3">
                        <p>Min: <br>
                            <span id="minPrice" data-cur="">0</span>
                        </p>
                        <p>Max: <br> <span id="maxPrice" data-val="{{maxPrice}}">

                            </span>
                        </p>
                    </div>
                </div>
                <div class="greyLine"></div>
                <div class="subFilter-item subFilter-item2">
                    <p class="filter-title">Product categories:</p>
                    {% for product in categories %}
                    <div class="form-check">
                        <input class="form-check-input" name="product-category" type="checkbox"
                            id="product-category" value="{{product}}">
                        <label class="form-check-label" for="product-category-{{ forloop.counter }}">
                            {{product}}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <div class="greyLine"></div>
                <div class="subFilter-item subFilter-item3">
                    <p class="filter-title">Kind of Scent:</p>
                    {% for product in kind %}
                    <div class="form-check">
                        <input class="form-check-input" name="product-kind" type="checkbox"
                            id="product-kind" value="{{product}}">
                        <label class="form-check-label" for="product-kind-{{ forloop.counter }}">
                            {{product}}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <div class="greyLine"></div>
            </div>
        </div>
