{% extends 'partials/header.html' %}
{% load static %}
{% block content %}

<body>
    <div class="background_frame">
        <img class="img_background" src="{% static '/images/image1.png'%}" alt="" width="1200">
        <div class="greeting">
            <h3 class="greeting_content greeting_h3">WELCOME TO</h3>
            <h1 class="greeting_content greeting_logo">T E K Y</h1>
            <h2 class="greeting_content greeting_subLogo">The scent lab</h2>
            <p class="greeting_content greeting_p">Với sự công phu trong mùi hương thiết kế, <br> lựa chọn kỹ càng
                nguyên liệu cao cấp
                <br> và trau chuốt trong mẫu mã – bao bì.
                <br> TEKY khát khao đem lại dấu ấn vượt trội cho sản phẩm mùi hương Việt Nam.
            </p>
        </div>
        <div class="btnBookNow">
            <a href="/booking" class="text-decoration-none">
                <h4 class="bookNow">
                    <span class="iconBookNow d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cart-fill" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </span>
                    &nbsp; ORDER NOW
                </h4>
            </a>
            <div class="arrowBottomBookNow my-4">
                <a href="#index">
                    <svg width="34" height="34" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M23.3611 45.6309C18.0848 45.6263 12.9722 43.7983 8.88908 40.4565C4.80597 37.1147 2.00329 32.4644 0.955624 27.2932C-0.0920407 22.1219 0.679702 16.7475 3.14017 12.08C5.60063 7.41247 9.5986 3.73875 14.4571 1.6809C20.0281 -0.58111 26.2656 -0.55933 31.8207 1.74153C37.3758 4.0424 41.802 8.43742 44.1421 13.9761C46.4821 19.5148 46.548 25.752 44.3254 31.3389C42.1028 36.9258 37.7704 41.4133 32.2651 43.8309C29.4484 45.0239 26.42 45.6361 23.3611 45.6309ZM14.1938 15.4472L10.4311 19.1222L23.0611 31.4559L35.6918 19.1184L31.9291 15.4434L23.0611 24.1059L14.1938 15.4472Z"
                            fill="#E0B973" />
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="main">
        <div id="index"></div>
        <h2 id="jumbotron" class="jumbotron text-center">All our room types include complementary breakfast</h2>
        <div class="card1 d-flex justify-content-center">
            <div class="main_card shadow d-flex justify-content-center align-items-center">
                <div class="main_card_content1">
                    <div class="wrapContentCard">
                        <h3 class="titleCard">Nước Hoa</h3>
                        <p class="contentCard">
                            Nước hoa từ NOTE – The Scent Lab hướng đến các mùi hương không phân biệt giới tính, mang lại
                            cảm giác tích cực và đồng hành cùng bạn trong mọi hoàn cảnh.
                        </p>
                    </div>
                </div>
                <div class="main_card_content2">
                    <img class="img-thumbnail p-0" src="{% static '/images/image2.png' %}" alt="" height="500">
                </div>
            </div>
        </div>
        <div class="card2 d-flex justify-content-center">
            <div class="main_card shadow d-flex justify-content-center align-items-center">
                <div class="main_card_content1">
                    <div class="wrapContentCard">
                        <h3 class="titleCard">Nến Thơm Cao Cấp</h3>
                        <p class="contentCard">
                            Cho không gian nhà ở – làm việc của bạn luôn thư giãn và khác biệt
                        </p>
                    </div>
                </div>
                <div class="main_card_content2">
                    <img class="img-thumbnail p-0" src="{% static '/images/image3.jpeg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="card1 d-flex justify-content-center">
            <div class="main_card shadow d-flex justify-content-center align-items-center">
                <div class="main_card_content1">
                    <div class="wrapContentCard">
                        <h3 class="titleCard">Khuếch Tán Hương</h3>
                        <p class="contentCard">
                            Cho không gian nhà ở – làm việc của bạn luôn thư giãn và khác biệt
                        </p>
                    </div>
                </div>
                <div class="main_card_content2">
                    <img class="img-thumbnail p-0" src="{% static '/images/image4.jpeg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="btnExplore">
                EXPLORE
            </div>
        </div>
    </div>
</body>
{% endblock content %}



